@keyframes AnimatePopIn {
    0% { opacity: 0; transform: scale(0.25) }
    100% { opacity: 1; transform: scale(1) }
}

#Modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#ModalContent {
    background-color: #fefefe;
    animation-name: AnimatePopIn;
    animation-duration: 0.25s;
    margin: 15% auto;
    padding: 20px;
    box-shadow: 0 8px 8px -4px;
    border-radius: 25px;
    width:25em; 
}

.Board {
    border-width: 2px;
    border-radius: 12px;
    display: inline-grid;
    grid-template-rows: repeat(5, 1fr);
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.Square {
    font-family: monospace;
    font-size: 3vh;
    padding: 1em;
    margin: 5px;
}

.SquareNeutral {
    background-color: whitesmoke;
}

.SquareCorrect {
    background-color: #BCFF8E;
}

.SquarePartial {
    background-color: lightgoldenrodyellow;
}

.SquareWrong {
    background-color: lightcoral;
}

.Row {
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}