.Board {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    flex-direction: column;
}

.Square {
    background-color: whitesmoke;
    display: inline-block;
    font-size: 3vh;
    padding: 1em;
    margin: 5px
}

.Row {
    background-color: lightblue;
    display: flex;
}