.Board {
    border-style: dotted;
    border-width: 1px;
    display: inline-grid;
    grid-template-rows: repeat(5, 1fr);
}

.Square {
    font-family: monospace;
    font-size: 3vh;
    padding: 1em;
    margin: 5px;
}

.SquareNeutral {
    background-color: whitesmoke;
}

.SquareCorrect {
    background-color: #BCFF8E;
}

.Row {
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}